*{
    /*background-color: rgb(0, 0, 0);*/
    color: #ffffff;
}

body{
    display: flex;
    flex-direction: column;
}

/*contenido del body*/

header{
    display: flex;
    flex-direction: row;
    height: 15%;
    padding: 20px;
    font-family: sans-serif;
    background-image: linear-gradient(rgba(0, 0, 0, 0.454),rgba(0, 0, 0, 0.506)), url(Imgs/pngwing.com\ \(1\).png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

main{
    display: flex;
    flex-direction: column;
    height: fit-content-moz-fit-content;
    padding: 20px;
    padding-top: 0px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.681),rgba(0, 0, 0, 0.707)), url(Imgs/fd87df997a43680959878c29ce8cd711.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

footer{
    display: flex;
    flex-direction: row;
    height: fit-content-moz-fit-content;
    padding: 20px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.832),rgba(0, 0, 0, 0.865)), url(Imgs/Banner\ del\ canal.PNG);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


/*contenido del header*/

#logoYNombre{
    display: flex;
    flex-direction: row;
    width: fit-content-moz-fit-content;
    background-color: transparent;
}
/*
#burbujas{
    display: flex;
    background-color: transparent;
}
*/
/*contenido de logo y nombre*/

#logoYNombre img{
    width: 12%;
    background-color: transparent;
}

#logoYNombre h1{
    width: fit-content-moz-fit-content;
    margin-left: 1.5%;
    align-self: center;
    border-radius: 10px;
    font-size: 3.5vw;
}

/*contenido de burbujas*/

@keyframes rotateAnimation {
        0% 
    {
        transform: rotate(20deg);
    }
        50% 
    {
        transform: rotate(-20deg);
    }
        100% 
    {
        transform: rotate(20deg);
    }
}

#cont-up{
    display: flex;
    flex-direction: row;
    position: fixed;
    width: fit-content-moz-fit-content;
    height: fit-content-moz-fit-content;
    top: 4%;
    right: 1.5%;
    z-index: 50;
}

#donaciones{
    transform: rotate(-20deg);
    transition: transform 0.3s ease-in-out;
}
#donaciones:hover{
    transform: scale(1.25);
    transform: rotate(20deg);
    animation: rotateAnimation 0.5s infinite alternate;
}
#help:hover{
    transform: scale(1.2);
    transform: rotate(20deg);
    animation: rotateAnimation 0.5s infinite alternate;
}
#mail:hover{
    transform: scale(1.2);
    transform: rotate(20deg);
    animation: rotateAnimation 0.5s infinite alternate;
}

/*contenido de main*/

#contenedor-descripcion{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: fit-content-moz-fit-content;
}

#principal{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: fit-content-moz-fit-content;
}

/*contenido descripcion*/
#descripcion{
    font-size: 1.7vw;
    text-align: end;
    width: 50%;
    padding: 10px;
    font-family: sans-serif;
}

/*contenido busqueda*/
#busqueda{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    align-items: start;
    width: 50%;
    padding: 10px;
}
#busqueda div{
    display: flex;
    width: 100%;
    justify-content: center;
}

#busqueda p{
    text-align: center;
    padding: 10px;
    font-family: sans-serif;
    font-size: 2vw;
}
#busqueda input{
    width: 75%;
    height: 4vw;
    padding: 10px;
    margin-top: 3%;
    border-radius: 25px;
    color: #000;
    font-size: 2vw;
}
#busqueda a{
    margin-top: 3%;
}

/*contenido de principal*/

#myCarousel{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: fit-content-moz-fit-content;
}
#myCarousel h2{
    font-size: 3.5vw;
}

#categorias{
    display: flex;
    flex-direction: column;
    width: 50%;
    font-family: sans-serif;
}

/*Contenido slides*/
.carousel-item{
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    height: fit-content-moz-fit-content;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
}
.carousel-item img{
    padding-left: 10%;
    padding-right: 10%;
    width: 100%;
}
.carousel-item a{
    text-decoration: none;
}
.caption{
    width: auto;
    font-family: sans-serif;
    text-align: justify;
    font-size: 2.3vw;
}
.caption h3{
    text-align: center;
    font-size: 4vw;
}

.custom-btn:hover {
    border-radius: 7.5px;
    background-color: rgba(192, 192, 192, 0.369);
    /* Otros estilos personalizados */
}
/*contenido de categorias*/
nav{
    width: 100%;
    display: flex;
    flex-direction: column;
}
nav a{
    color: rgb(216, 209, 99);
}
nav a:hover{
    color: rgb(255, 247, 128);
}
nav h2, nav h4{
    color: rgb(255, 252, 200);
}
ul{
    list-style-type: none;
}

.nav ul li ul {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
}

#ing-indust:hover ul {
    max-height: 500px;
    transition-delay: 0.5s;
}

/*contenido footer*/

#redes{
    display: flex;
    flex-direction: column;
    width: 35%;
    height: fit-content-moz-fit-content;
    padding: 2%;
}

#infoContacto{
    display: flex;
    flex-direction: column;
    width: 35%;
    height: fit-content-moz-fit-content;
    padding: 2%;
}

#derechos{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: fit-content-moz-fit-content;
    padding: 2%;
}

/*contenido de redes*/

#redes img{
    width: 10%;
    height: auto;
    margin-right: 5%;
}

#redes a:hover > img{
    transition-duration: 0.1s;
    transform: scale(1.4);
}
#redes a{
    margin-top: 5%;
    margin-top: 5%;
}

/*contenido contacto*/

#infoContacto{
    margin-top: 1.5%;
}
#infoContacto li{
    margin-top: 2%;
}

/*Resultado de busqueda*/
#searchResults {
    display: none;
    position: absolute;
    background-color: rgb(72, 72, 72);
    z-index: 300;
    flex-direction: column;
}

#searchResults a{
    margin-top: 2%;
    margin-bottom: 2%;
    color: #ffffff;
    text-decoration: none;
}

#searchResults a:hover{
    color: #f8ffbf;
    transition-duration: 0.15s;
}

#CuadroDonacion{
    display: none;
    position: fixed;
    z-index: 500;
    width: 80%;
    right: 10%;
    top: 20%;
    height: fit-content-moz-fit-content;
    padding-top: 100px;
    padding-bottom: 100px;
    justify-content: stretch;
    background-color: rgba(0, 0, 0, 0.639);
}

#CuadroDonacion a{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-decoration: none;
}

#CuadroDonacion a:hover{
    transition-duration: 0.45s;
    transform: scale(1.2);
}

#CuadroDonacion a img{
    width: 40%;
    margin-bottom: 5%;
    border-radius: 25px;
}

#CuadroDonacion a p{
    font-size: 20px;
    color: white;
}

#cerrar1{
    width: 30px;
    position: absolute;
    top: 0%;
    right: 0%;
}

#cerrar1:hover{
    transition-duration: 0.45s;
    transform: scale(1.2);
}

#cerrar2{
    width: 30px;
    position: absolute;
    top: 0%;
    right: 0%;
}

#cerrar2:hover{
    transition-duration: 0.45s;
    transform: scale(1.2);
}

#CuadroMail{
    display: none;
    flex-direction: column;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 2.5%;
    width: 50%;
    height: 90vh;
    position: fixed;
    z-index: 500;
    top: 0%;
    right: 0%;
    left: 0%;
    bottom: 0%;
    background-color: #000000ba;
    border-radius: 35px;
}

#miFormulario{
    display: flex;
    flex-direction: column;
    padding: 5%;
}

#miFormulario input{
    color: #000;
}

#miFormulario textarea{
    color: #000;
    resize: none;
    height: 100px;
}

#enviar{
    background-color: #a6a6a6;
}

#enviar:hover{
    transition-duration: 0.1s;
    background-color: #ffffff;
}

/*Diseño mobile*/
@media (max-width: 500px) {

    #logoYNombre{
        flex-direction: column;
    }
    
    #logoYNombre h1{
        font-size: 7vw;
    }

    #logoYNombre img{
        width: 15vw;
    }

    #donaciones{
        top: 13%;
    }

    main{
        padding: 10px;
    }

    #contenedor-descripcion{
        display: flex;
        flex-direction: column;
        width: fit-content-moz-fit-content;
        justify-content: space-around;
        height: fit-content-moz-fit-content;
    }
        
    #descripcion{
        width: 100%;
    }
    #descripcion p{
        margin-bottom: 0%;
        font-size: 5vw;
    }

    /*contenido busqueda*/
    #busqueda{
        width: 100%;
        height: fit-content-moz-fit-content;
        flex-direction: column-reverse;
        align-items: center;
    }

    #busqueda p{
        padding: 0%;
        height: fit-content-moz-fit-content;
        margin-right: 5vw;
        margin-bottom: 0%;
        font-size: 5vw;
    }
    
    #busqueda input{
        height: 7vw;
        padding: 10px;
        margin-top: 3%;
        border-radius: 25px;
        color: #000;
        font-size: 4vw;
    }

    #principal{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    #myCarousel{
        width: 100%;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    #myCarousel h2{
        font-size: 8vw;
    }

    #myCarousel p{
        font-size: 5vw;
    }

    .caption h3{
        font-size: 8vw;
    }

    #categorias{
        width: 100%;
    }

    #categorias h2{
        font-size: 7vw;
    }
    #categorias a{
        font-size: 5vw;
    }

    #ing-indust{
        font-size: 4.5vw;
    }

    footer{
        flex-direction: column-reverse;
        width: 100vw;
        padding: 2%;
    }

    #infoContacto{
        width: 100vw;
    }

    #redes{
        width: 100vw;
    }
    
    #CuadroDonacion{
        flex-direction: column;
        width: 100%;
        right: 0%;
        top: 0%;
        bottom: 0%;
        max-height: 100%;
        overflow-y: scroll;
        padding-top: 10%;
        padding-bottom: 10%;
        background-color: rgba(0, 0, 0, 0.787);
    }

    #CuadroMail{
        margin-left: 5%;
        margin-right: 55%;
        margin-top: 2.5%;
        width: 90%;
    }

    #miFormulario{
        height: 100vh;
    }

    #miFormulario input{
        height: 30px;
    }
}