*{
    /*background-color: rgb(0, 0, 0);*/
    color: #ffffff;
}

body{
    display: flex;
    flex-direction: column;
}

/*contenido del body*/

header{
    display: flex;
    flex-direction: row;
    height: 15%;
    padding: 20px;
    font-family: sans-serif;
    background-image: linear-gradient(rgba(0, 0, 0, 0.454),rgba(0, 0, 0, 0.506)), url(Imgs/pngwing.com\ \(1\).png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

main{
    display: flex;
    flex-direction: column;
    height: fit-content-moz-fit-content;
    padding: 20px;
    padding-top: 0px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.681),rgba(0, 0, 0, 0.707)), url(Imgs/fd87df997a43680959878c29ce8cd711.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

footer{
    display: flex;
    flex-direction: row;
    height: fit-content-moz-fit-content;
    padding: 20px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.832),rgba(0, 0, 0, 0.865)), url(Imgs/Banner\ del\ canal.PNG);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


/*contenido del header*/

#logoYNombre{
    display: flex;
    flex-direction: row;
    width: fit-content-moz-fit-content;
    background-color: transparent;
}

#burbujas{
    display: flex;
    background-color: transparent;
}

/*contenido de logo y nombre*/

#logoYNombre img{
    width: 12%;
    background-color: transparent;
}

#logoYNombre h1{
    width: fit-content-moz-fit-content;
    margin-left: 1.5%;
    align-self: center;
    border-radius: 10px;
    font-size: 3.5vw;
}

/*contenido de burbujas*/

#burbujas a{
    display: flex;
    flex-direction: row;
    width: fit-content-moz-fit-content;
    margin-left: 5%;
    margin-right: 5%;
    background-color: transparent;
}
#burbujas a img{
    background-color: transparent;
    border-radius: 25px;
}

@keyframes rotateAnimation {
        0% 
    {
        transform: rotate(20deg);
    }
        50% 
    {
        transform: rotate(-20deg);
    }
        100% 
    {
        transform: rotate(20deg);
    }
}

#donaciones{
    transition: transform 0.3s ease-in-out;
    border-radius: 25px;
    position: fixed;
    top: 5%;
    right: 0%;
    transform: scale(1.3);
}
#donaciones:hover{
    animation: rotateAnimation 0.5s infinite alternate;
    background-color: rgba(0, 0, 0, 0.285);
}

#help{
    transition: transform 0.3s ease-in-out;
    border-radius: 25px;
    position: fixed;
    bottom: 5%;
    right: 0%;
    transform: scale(1.3);
}
#help:hover{
    animation: rotateAnimation 0.5s infinite alternate;
    background-color: rgba(0, 0, 0, 0.285);
    border-radius: 25px;
}

/*contenido de main*/

#contenedor-descripcion{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: fit-content-moz-fit-content;
}

#principal{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: fit-content-moz-fit-content;
}

/*contenido descripcion*/
#descripcion{
    font-size: 1.7vw;
    text-align: end;
    width: 50%;
    padding: 10px;
    font-family: sans-serif;
}

/*contenido busqueda*/
#busqueda{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    align-items: start;
    width: 50%;
    padding: 10px;
}
#busqueda div{
    display: flex;
    width: 100%;
    justify-content: center;
}

#busqueda p{
    text-align: center;
    padding: 10px;
    font-family: sans-serif;
    font-size: 2vw;
}
#busqueda input{
    width: 75%;
    height: 4vw;
    padding: 10px;
    margin-top: 3%;
    border-radius: 25px;
    color: #000;
    font-size: 2vw;
}
#busqueda a{
    margin-top: 3%;
}

/*contenido de principal*/

#myCarousel{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: fit-content-moz-fit-content;
}
#myCarousel h2{
    font-size: 3.5vw;
}

#categorias{
    display: flex;
    flex-direction: column;
    width: 50%;
    font-family: sans-serif;
}

/*Contenido slides*/
.carousel-item{
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    height: fit-content-moz-fit-content;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
}
.carousel-item img{
    padding-left: 10%;
    padding-right: 10%;
    width: 100%;
}
.carousel-item a{
    text-decoration: none;
}
.caption{
    width: auto;
    font-family: sans-serif;
    text-align: justify;
    font-size: 2.3vw;
}
.caption h3{
    text-align: center;
    font-size: 4vw;
}

.custom-btn:hover {
    border-radius: 7.5px;
    background-color: rgba(192, 192, 192, 0.369);
    /* Otros estilos personalizados */
}
/*contenido de categorias*/
nav{
    width: 100%;
    display: flex;
    flex-direction: column;
}
nav a{
    color: rgb(216, 209, 99);
}
nav a:hover{
    color: rgb(255, 247, 128);
}
nav h2, nav h4{
    color: rgb(255, 252, 200);
}
ul{
    list-style-type: none;
}

.nav ul li ul {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
}

#ing-indust:hover ul {
    max-height: 500px;
    transition-delay: 0.5s;
}

/*contenido footer*/

#redes{
    display: flex;
    flex-direction: column;
    width: 35%;
    height: fit-content-moz-fit-content;
    padding: 2%;
}

#infoContacto{
    display: flex;
    flex-direction: column;
    width: 35%;
    height: fit-content-moz-fit-content;
    padding: 2%;
}

#derechos{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: fit-content-moz-fit-content;
    padding: 2%;
}

/*contenido de redes*/

#redes img{
    width: 10%;
    height: auto;
    margin-right: 5%;
}

#redes a:hover > img{
    transition-duration: 0.1s;
    transform: scale(1.4);
}
#redes a{
    margin-top: 5%;
    margin-top: 5%;
}

/*contenido contacto*/

#infoContacto{
    margin-top: 1.5%;
}
#infoContacto li{
    margin-top: 2%;
}

/*Resultado de busqueda*/
#searchResults {
    display: none;
    position: absolute;
    background-color: rgb(72, 72, 72);
    z-index: 300;
    flex-direction: column;
}

#searchResults a{
    margin-top: 2%;
    margin-bottom: 2%;
    color: #ffffff;
}

#searchResults a:hover{
    font-size: large;
    color: #f8ffbf;
    transition-duration: 0.15s;
}


/*Diseño mobile*/
@media (max-width: 500px) {
    
    #logoYNombre h1{
        font-size: 7vw;
    }

    #logoYNombre img{
        width: 15vw;
    }

    #donaciones{
        top: 13%;
    }

    main{
        padding: 10px;
    }

    #contenedor-descripcion{
        display: flex;
        flex-direction: column;
        width: fit-content-moz-fit-content;
        justify-content: space-around;
        height: fit-content-moz-fit-content;
    }
        
    #descripcion{
        width: 100%;
    }
    #descripcion p{
        margin-bottom: 0%;
        font-size: 5vw;
    }

    /*contenido busqueda*/
    #busqueda{
        width: 100%;
        height: fit-content-moz-fit-content;
        flex-direction: column-reverse;
        align-items: center;
    }

    #busqueda p{
        padding: 0%;
        height: fit-content-moz-fit-content;
        margin-right: 5vw;
        margin-bottom: 0%;
        font-size: 5vw;
    }
    
    #busqueda input{
        height: 7vw;
        padding: 10px;
        margin-top: 3%;
        border-radius: 25px;
        color: #000;
        font-size: 4vw;
    }

    #principal{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    #myCarousel{
        width: 100%;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    #myCarousel h2{
        font-size: 8vw;
    }

    #myCarousel p{
        font-size: 5vw;
    }

    .caption h3{
        font-size: 8vw;
    }

    #categorias{
        width: 100%;
    }

    #categorias h2{
        font-size: 7vw;
    }
    #categorias a{
        font-size: 5vw;
    }

    #ing-indust{
        font-size: 4.5vw;
    }

    footer{
        flex-direction: column-reverse;
        width: 100vw;
        padding: 2%;
    }

    #infoContacto{
        width: 100vw;
    }

    #redes{
        width: 100vw;
    }
}