/*Diseño general*/
body{
    padding-top: 45px;
    min-width: none;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url('Imgs/Fondo_00.jpeg');
    background-attachment: fixed;
    background-size: cover;
    min-height: 100%;
    height: 480px;
}
body::-webkit-scrollbar{
    width: 20px;
    max-height: 20px;
}
body::-webkit-scrollbar-thumb{
    background-color: #dfddc7;
    border-radius: 25px;
    min-height: 50px;
}
body::-webkit-scrollbar-thumb:hover{
    background-color: #fffdcd;
}
body::-webkit-scrollbar-track{
    background-color: #1a1a1a;
}
body::-webkit-scrollbar-track:hover{
    background-color: #252525;
}

#contenedor-materias .boton {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    background-color: #139a2c;
    color: white;
    text-decoration: none;
    border: none;
    cursor: pointer;
    flex-grow: 1;
    flex-basis: 0;
    white-space: nowrap;
    text-align: center;
}

#contenedor-materias{
    display: flex;
    flex-wrap: wrap;
}

#materias{
    text-align: center;
    font-size: 60px;
    margin: 0px;
    color: #32c0a6;
}

.materias-principal {
    margin: 0;
    font-size: 45px;
    text-align: center;
    color: rgb(84, 84, 226);
}

/*Diseño por materia*/

.materia-particular{
    margin: 0;
    font-size: 45px;
    text-align: center;
    color: #63cb6c;
}

#materia{
    margin: 0;
    font-size: 60px;
    text-align: center;
    color: #a4afff;
}
#inicio{
    display: flex;
    width: fit-content;
    text-align: center;
    background-color: #7b424200;
    position: fixed;
    bottom: 1%;
    left: 47.5%;
    z-index: 500;
    border-radius: 50px;
    padding: 5px;
}
#cei{
    display: flex;
    text-align: center;
    background-color: #7b424200;
    position: fixed;
    bottom: 3%;
    left: 47.5%;
    z-index: 500;
    border-radius: 50px;
}
#cei:hover img {
    scale: 1.2;
    transition-duration: 0.15s;
}
#cei img{
    width: 15%;
}

#inicio:hover{
    scale: 1.2;
    background-color: #dedede39;
    transition-duration: 0.7s;
}

#contenedor-temas .boton {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    background-color: #8b3ea7;
    color: white;
    text-decoration: none;
    border: none;
    cursor: pointer;
    flex-grow: 1;
    flex-basis: 0;
    white-space: nowrap;
    text-align: center
}
#contenedor-temas{
    display: flex;
    flex-wrap: wrap;
}

/*Diseño por tema*/

.tema-particular{
    margin: 0;
    font-size: 45px;
    text-align: center;
    color: #c53636;
}

#materia-subtema{
    font-size: 25px;
    color: #cd6c38;
    margin: 0;
    text-align: center;
}

#contenedor-subtemas .boton {
    padding: 10px 20px;
    margin: 5px;
    background-color: #b2b033cb;
    color: rgb(255, 255, 255);
    text-decoration: none;
    border: none;
    cursor: pointer;
    flex-grow: 1;
    flex-basis: 0;
    white-space: nowrap;
    text-align: center;
}

#contenedor-subtemas{
    display: flex;
    flex-wrap: wrap;
}

#tema {
    margin: 0;
    font-size: 60px;
    text-align: center;
    color: #f4e793;
}

#volver_materia{
    display: flex;
    width: fit-content;
    height: fit-content;
    text-align: center;
    background-color: #7b424200;
    border-radius: 50px;
    padding: 5px;
}
#volver_materia img:hover{
    scale: 1.2;
    border-radius: 50px;
    background-color: #dedede39;
    transition-duration: 0.7s;
}
#cont-btn-volver{
    display: flex;
    position: fixed;
    width: fit-content;
    height: fit-content;
    flex-direction: row;
    left: 0%;
    bottom: 0%;
    align-items: end;
    z-index: 50;
}

#final{
    display: flex;
    width: fit-content;
    text-align: center;
    background-color: #7b424200;
    position: fixed;
    bottom: 4%;
    right: 1.5%;
    z-index: 700;
    border-radius: 50px;
    padding: 5px;
}
#final:hover{
    scale: 1.2;
    background-color: #dedede39;
    transition-duration: 0.7s;
}

/*Subtemas*/

#Introduccion{
    padding: 20px;
    color: #d7cf9f;
    text-align: center;
    background-color: #161616;
}

.pregunta{
    font-size: 33px;
}

.respuesta{
    padding-left: 20px;
    padding-right: 20px;
    font-size: 22px;
    font-family: sans-serif;
    text-align: justify;
}

#Tema-01-00, #Tema-01-01, #Tema-01-02, #Tema-01-03, #Tema-01-04,
#Tema-01-05, #Tema-01-06, #Tema-01-07, #Tema-01-08, #Tema-01-09,
#Tema-01-10, #Tema-01-11, #Tema-01-12, #Tema-01-13, #Tema-01-14,
#Tema-01-15, #Tema-01-16, #Tema-01-17, #Tema-01-18, #Tema-01-19{
    font-size: 30px;
    padding: 20px;
    color: #f4ecb7;
    text-align: center;
}
.boton:hover{
    scale: 1.015;
    transition-duration: 0.5s;
}
.boton:not(:hover){
    scale: 1.0;
    transition-duration: 0.5s;
}

/*imagenes*/
.contenedor-img{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.img {
    height: fit-content;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 80%;
}
.img:hover {
    scale: 1.05;
    transition-duration: 0.7s;
}
.img:not(:hover) {
    scale: 1;
    transition-duration: 0.7s;
}








#menu{
    display: flex;
    width: fit-content;
    text-align: center;
    background-color: #7b424200;
    position: fixed;
    top: 4%;
    left: 1.2%;
    z-index: 50;
}
#menu img:hover{
    scale: 1.2;
    transition-duration: 0.5s;
}
#menu:hover .navbar{
    visibility: visible;
    transition-delay: 0.5s;
}
.navbar {
    position: fixed;
    top: 0%;
    left: 0%;
    background-color: #333;
    padding: 10px;
    z-index: 100;
    visibility: hidden;
}

.dropdown:hover .dropdown-content {
    display: block;
}


.navbar:hover{
    visibility: visible;
}
.navbar:not(:hover){
    transition-delay: 0.5s;
}

.navbar-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.navbar-list li {
    display: flex;
    margin-right: 20px;
    white-space: nowrap;
}

.navbar-list li a {
    text-decoration: none;
    color: #ffffff;
    padding: 5px 10px;
}

.navbar-list li a:hover {
    background-color: #555;
    border-radius: 5px;
}

/* Dropdown Styles */
.dropdown {
    position: relative;
    z-index: 200;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 0%;
    left: 100%;
    background-color: #333;
    min-width: 150px;
    padding: 5px;
    max-height: 400px;
    max-width: fit-content;
    overflow-y: auto; 
    overflow-x: hidden; 
}

.dropdown-content li {
    margin: 5px 0;
}

.dropdown-content li a {
    color: #fff;
    text-decoration: none;
}

/*segundo nav*/

#volver_materia:hover + .navbar-2{
    visibility: visible;
    transition-delay: 0.7s;
}
#volver_materia:not(:hover) + .navbar-2{
    transition-delay: 0.7s;
}

.navbar-2:hover{
    visibility: visible;
}

.navbar-2 {
    display: flex;
    position: fixed;
    bottom: 0%;
    width: fit-content;
    height: fit-content;
    background-color: #333;
    padding: 10px;
    z-index: 200;
    visibility: hidden;
}

.navbar-list-2 {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.navbar-list-2 li {
    display: flex;
    margin-right: 20px;
    white-space: nowrap;
}

.navbar-list-2 li a {
    text-decoration: none;
    color: #ffffff;
    padding: 5px 10px;
}

.navbar-list-2 li a:hover {
    background-color: #555;
    border-radius: 5px;
}

/* Dropdown Styles */
.dropdown-2 {
    position: relative;
}

#cont-up{
    display: flex;
    flex-direction: row;
    position: fixed;
    width: fit-content;
    height: fit-content;
    top: 4%;
    right: 1.5%;
    z-index: 50;
}

#donaciones{
    transform: rotate(-20deg);
    transition: transform 0.3s ease-in-out;
}
#donaciones:hover{
    scale: 1.25;
    transform: rotate(20deg);
    animation: rotateAnimation 0.5s infinite alternate;
}

@keyframes rotateAnimation {
        0% 
    {
        transform: rotate(20deg);
    }
        50% 
    {
        transform: rotate(-20deg);
    }
        100% 
    {
        transform: rotate(20deg);
    }
}

#help:hover{
    scale: 1.2;
    transform: rotate(20deg);
    animation: rotateAnimation 0.5s infinite alternate;
}

#principio{
    display: flex;
    width: fit-content;
    text-align: center;
    background-color: #7b424200;
    z-index: 300;
    border-radius: 50px;
    padding: 5px;
}
#principio:hover{
    scale: 1.2;
    background-color: #dedede39;
    transition-duration: 0.7s;
}

#mail:hover{
    scale: 1.2;
    transform: rotate(20deg);
    animation: rotateAnimation 0.5s infinite alternate;
}

#imprimir:hover{
    scale: 1.2;
    transform: rotate(20deg);
    animation: rotateAnimation 0.5s infinite alternate;
}